# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Output of the go coverage tool
*.out
.json

# Dependency directories (remove the comment below to include it)
vendor/

# Editor specific files
.idea/
.vscode/

# Environment variables
.env

